# Dépendances (trop lourd)
node_modules
*/node_modules

# Variables d'environnement (SECRETS !!!)
.env
*/.env
server/.env
client/.env

# Builds de production
dist
build

# Logs et Système
*.log
.DS_Store
.vscode